.boton_1 {
    background-color:rgb(177, 119, 224); /* Color de fondo personalizado */
    color: #320650; /* Color del texto */
    border: none; /* Quitar borde */
    padding: 8px 72px; 
    font-size: 16px; 
    font-weight: bold;
    border-radius: 5px; 
    cursor: pointer; 
    transition: 0.8s; 
    margin: 5px;
}

/* Efecto cuando el usuario pasa el mouse */
.boton_1:hover {
    background-color: #652dad; /* Color al pasar el mouse */
    color: #d3c4e7;
    box-shadow:3px 3px 5px #6a5a81;
}
.boton_2 {
    background-color:#d161d1; /* Color de fondo personalizado */
    color:#5f1553 ; /* Color del texto */
    border: none; /* Quitar borde */
    padding: 8px 50px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; 
    transition: 0.8s; 
    margin:5px;
}

/* Efecto cuando el usuario pasa el mouse */
.boton_2:hover {
    background-color: #7c0076; /* Color al pasar el mouse */
    color: #ffd4fb;
    box-shadow:3px 3px 5px #69317a;
}
body {
    background-color: #a10e0e; /* Fondo oscuro personalizado */
    color: white; /* Texto en blanco */
}
.fondo{

    background-color: #6a5a81;
}
.titulo{
     font-family: 'Poppins', sans-serif; /* Fuente moderna */
     font-weight: bold; /* Negrita */
     color: #320650; /* Color oscuro */
     letter-spacing: 2px; /* Espaciado entre letras */
     padding: 20px 0; /* Espaciado */
}

.texto_info{
    color:#5f1553;
}

.imagen{
    border-radius: 8px;
}
.imagen:hover{
    box-shadow: 3px 3px 10px #6a5a81;
}
.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
}
