.boton_1 {
    background-color:rgb(177, 119, 224); 
    color: #320650; 
    border: none;
    padding: 8px 72px; 
    font-size: 16px; 
    font-weight: bold;
    border-radius: 5px; 
    cursor: pointer; 
    transition: 0.8s; 
    margin: 5px;
}

/* Efecto del mouse */
.boton_1:hover {
    background-color: #652dad; 
    color: #d3c4e7;
    box-shadow:3px 3px 5px #6a5a81;
}
.boton_2 {
    background-color:#d161d1; 
    color:#5f1553 ; 
    border: none; 
    padding: 8px 50px; 
    font-size: 16px; 
    font-weight: bold; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: 0.8s; 
    margin:5px;
}


.boton_2:hover {
    background-color: #7c0076; 
    color: #ffd4fb;
    box-shadow:3px 3px 5px #69317a;
}
body {
    background-color: #a10e0e; 
    color: white; 
}
.fondo{

    background-color: #6a5a81;
}
.titulo{
     font-family: 'Poppins', sans-serif; 
     font-weight: bold; 
     color: #320650; 
     letter-spacing: 2px; 
     padding: 20px 0; 
}

.texto_info{
    color:#5f1553;
}

.imagen{
    border-radius: 8px;
}
.imagen:hover{
    box-shadow: 3px 3px 10px #6a5a81;
}
.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
}
